extends ./layout/index

block contenido
    main.container.mt-5     
        .row
            .col-md-5 
                img(src="img/nosotros.jpg",class="img-fluid", alt="sobre-nosotros")
            .col-md-7
                h1= pagina
                            
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac porta urna. Nullam luctus nunc sit amet urna venenatis dignissim. Donec dignissim tincidunt accumsan. Mauris tristique gravida magna nec congue. Duis tincidunt euismod quam, eget posuere dui ornare vitae. 

                p Nunc elementum eu elit commodo vulputate. Morbi tincidunt varius nulla quis ultricies. Mauris sed nibh mattis neque sodales dignissim aceget.Duis auctor porta sagittis. Nullam vehicula sem nec sagittis pretium. Curabitur urna nunc, blandit ut libero sed, varius fringilla est. Praesent a vestibulum leo. Nulla arcu dui, fermentum sit amet lorem ut, pellentesque mattis sapien. Nulla mollis, magna id aliquet pretium, 

                p Duis luctus nisl id dolor mattis malesuada. Curabitur congue varius ex. Suspendisse non risus nec quam blandit interdum a venenatis nulla.Mauris aliquet eu mauris non aliquet. Morbi in varius massa. Aliquam pulvinar pharetra dapibus. Fusce id ipsum sed tortor tincidunt consectetur. In nec ultrices tellus. Cras non tincidunt nisi. Nunc mattis varius ullamcorper. Proin iaculis ac est in auctor. 
    .listado-iconos 
        .container.mt-5.py-5.text-center   
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg",alt="icono-seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Duis luctus nisl id dolor mattis malesuada. Curabitur congue varius ex. 
                .col-md-4
                    img(src="img/icono_destinos.svg",alt="icono-destinos",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Duis luctus nisl id dolor mattis malesuada. Curabitur congue varius ex. 
                .col-md-4
                    img(src="img/icono_precios.svg",alt="icono-precios",class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Duis luctus nisl id dolor mattis malesuada. Curabitur congue varius ex. 